<nav class="d-flex navbar navbar-light bg-light justify-content-between p-3 mb-4 shadow-sm">
  <a class="navbar-brand">
    <%= link_to image_tag("logo.png", width: "200", :alt => "rss feed"),  root_path %>
  </a>

  <div class="ms-auto d-inline-flex align-middle ">
    <% if user_signed_in? %>
    <div class="name-margin-righ">
     <p class="welcome-name-bold">Welcome 👋</p>
    <%= current_user.full_name %>
    </div>
    <%= link_to "Dashboard",  dashboard_path , class:"btn-dashboard" %>
    <%= link_to "sign out",  destroy_user_session_path , class:"btn-log-out" , data: { turbo_method: :delete } %>

      <% else  %>
    <%= link_to "log in",  new_user_session_path , class:"btn-login" %>
    <% end%>
  </div>

</nav>
