<div class="row">
  <div class="col p-4">
    <div class="d-flex d-grid gap-1 pr-4 mb-5">

      <!-- START: multi-search form -->
      <div class="">
        <div class="">
          <%= form_with url: books_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "",
                  placeholder: "Search by keyword"
              %>
            <%= submit_tag "Search", name: "", class: "btn btn-primary mx-1" %>
          <% end %>
        </div>
      </div>
      <!-- END: multi-search form -->

      <input type="text" placeholder="Area"  class="">
      <button type="button" class="btn btn-primary">Search</button>

      <!-- START: category filter -->

      <div>
      <%= form_with url: books_path, method: :get, local: true do %>
        <%= select_tag :category_id,
            options_from_collection_for_select(Category.all, :id, :name, params[:category_id]),
            prompt: "Select Category",
            onchange: 'this.form.submit();',
            class: "category-input"
        %>
      <% end %>
      </div>

      <!-- END: category filter -->

    </div>

    <h2 style="font-weight: bold;">Available books in your area</h2>

    <div class="index_grid">
      <% if @books.any? %>
        <% @books.each do |book| %>
          <%= link_to book_path(book), class: "card m-2" do %>
            <%= cl_image_tag book.photo.key %>
              <div class="card-body">
                <h5 class="card-title"><%= book.title %></h5>
                <p class="card-text grey-color "> <%= book.author %></p>
              </div>
            <% end %>
          <% end %>
        <% else %>
        <em>Sorry, no books found.</em>
      <% end %>
    </div>

  </div>

  <div class="col bg-info"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
